SHOPIFY_API_KEY=7bf035fe3beef0643dd5bffdc66ab8ca
SHOPIFY_API_SECRET=
SCOPES=read_products
SHOPIFY_APP_URL=https://your-reviews-app.onrender.com
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres
